<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="#009999">
<div th:object="${header}" th:text="${header}" ></div>
<br/>
<div width="40%" >

    <table border="1" width="40%" >
        <tr
                th:each="user, iStat : ${users}"
                th:style="${iStat.odd}? 'background-color: #99ccff;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td ><a th:href="@{/users/{id}(id=${user.id})}" th:text="${iStat.index+1}"/></td>
            <td th:text="${user.name}"/>
            <td th:text="${user.lastName}" />
            <td th:text="${user.age}" />
           </td>
        </tr>
    </table>
    <br/>
    <a th:href="@{/users/new}" text="New user">new</a>
</div>
</body>
</html>